.container {
  width: min(90%, 475px);
  position: relative;
  margin-inline: 2rem;
  margin-top: 2rem;
}

h4 {
  text-align: center;
}

.btn {
  padding: 0.3rem;
  background-color: rgb(60, 80, 192);
  color: #fff;

  position: absolute;
  top: -2rem;
  left: -1rem;
}

.link {
  text-decoration: none;
  color: #fff;
}
.link:hover {
  color: #fff;
  cursor: pointer;
}
